# {{ ansible_managed }}
# See man 5 login.defs

# Mandatory settings
MAIL_DIR          {{ hardening_login_mail_dir }}

# Static settings
ENCRYPT_METHOD    SHA512
ENV_SUPATH        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
LOG_UNKFAIL_ENAB  no
LOGIN_RETRIES     5
LOGIN_TIMEOUT     60
SU_NAME           su
SYSLOG_SG_ENAB    yes
SYSLOG_SU_ENAB    yes
TTYGROUP          tty
TTYPERM           0600
USERGROUPS_ENAB   yes

# Dynamic settings
CREATE_HOME       {{ hardening_login_create_home }}
DEFAULT_HOME      {{ hardening_login_default_home }}
UMASK             {{ hardening_login_umask }}
ENV_PATH          PATH=/usr/local/bin:/usr/bin:/bin:{{ hardening_login_env_paths }}
UID_MIN           {{ hardening_login_uid_min }}
UID_MAX           60000
GID_MIN           {{ hardening_login_gid_min }}
GID_MAX           60000
SYS_UID_MIN       {{ hardening_login_sys_uid_min }}
SYS_UID_MAX       {{ hardening_login_uid_min - 1 }}
SYS_GID_MIN       {{ hardening_login_sys_gid_min }}
SYS_GID_MAX       {{ hardening_login_gid_min - 1 }}
LOG_OK_LOGINS     {{ hardening_login_log_ok_logins }}
PASS_MIN_DAYS     {{ hardening_login_pass_min_days }}
PASS_MAX_DAYS     {{ hardening_login_pass_max_days }}
PASS_WARN_AGE     {{ hardening_login_pass_warn_age }}
SULOG_FILE        {{ hardening_login_sulog_file }}
FAIL_DELAY        {{ hardening_pam_fail_delay/1000**2 }}

# Key Value loop to add extra values
{% if hardening_login_extra | length > 0 %}
{% for login_key, login_value in hardening_login_extra.items() %}
login_key login_value
{% endfor %}
{% endif %}
