# {{ ansible_managed }}

# Disabling uncommon network protocols
{% for net_proto in hardening_network_blacklist_net_protocols | difference(hardening_network_whitelist_net_protocols) %}
install {{ net_proto }} /bin/true
{% endfor %}
